.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
  background-color: var(--nav-background-color);
  color: aqua;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TheFlagApp {
  font-size: 20px;
  color: var(--text-color);
}

.logo {
  src: var(--logo);
}

.DarkLightButton {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.DarkLightButtonIcon {
  color: var(--text-color);
  scale: 90%;
}

.DarkLightButtonLabel {
  color: var(--text-color);
}
