.InputFields {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--div-background-color);
}

.InputCountry {
    width: 40%;
}

.SelectRegion {
    width: 30%;
}