.InputFields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.InputCountry {
  width: 40%;
}

.SelectRegion {
  width: 30%;
}

@media only screen and (max-width: 700px) {
  .InputFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .InputCountry {
    width: 100%;
  }

  .SelectRegion {
    width: 100%;
  }
}
