#root {
  --nav-background-color: white;
  --button-hover-color: #f2f2f2;
  --div-background-color: #f2f2f2;
  --text-color: black;
  --secondary-color: #545454;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

[data-theme="dark"] {
  --nav-background-color: #2b3844;
  --button-hover-color: #3f5263;
  --div-background-color: #202c36;
  --text-color: white;
  --secondary-color: #bdbdbd;
}

[data-theme="light"] {
  --nav-background-color: white;
  --button-hover-color: #f2f2f2;
  --div-background-color: #f2f2f2;
  --text-color: black;
  --secondary-color: #545454;
}

/* DARK
--nav-background-color: #2b3844;
--button-hover-color: #3f5263;
--div-background-color: #202c36;
--text-color: white;
*/

/* LIGHT
--nav-background-color: white;
--button-hover-color: #F2F2F2;
--div-background-color: #F2F2F2;
--text-color: black;
*/
